<%= form_tag posts_path do %>
    <label>Post time:</label><br>
    <%= number_field_tag :'post[time]' %><br>

    <label>Post cost:</label><br>
    <%= number_field_tag :'post[cost]' %><br>

    <label>Post coach:</label><br>
    <%= text_field_tag :'post[coach]' %><br>

    <%= submit_tag "Submit Post" %>
<% end %>