<!DOCTYPE html>
<html>
  <head>
    <title>Coacher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap" rel="stylesheet">
  </head>

 
  <body>
   <Header>
    <h1>Coach</h1>
  </Header>
    <%= yield %>
  </body>
</html>
